        <script src="{$pe['host_tpl']}js/vendor/jquery.js"></script>
        <script src="{$pe['host_tpl']}js/vendor/jquery-ui.min.js"></script>
        <script src="{$pe['host_tpl']}js/vendor/bootstrap.min.js"></script>
        <script src="{$pe['host_tpl']}js/vendor/jquery.appear.js"></script>
        <script src="{$pe['host_tpl']}js/vendor/isotope.pkgd.js"></script>
        <script src="{$pe['host_tpl']}js/vendor/parallax.min.js"></script>
        <script src="{$pe['host_tpl']}js/vendor/odometer.js"></script>
        <script src="{$pe['host_tpl']}js/vendor/owl.carousel.min.js"></script>
        <script src="{$pe['host_tpl']}js/vendor/jquery.countdown.min.js"></script>
        <script src="{$pe['host_tpl']}js/vendor/jquery.countdownTimer.min.js"></script>
        <script src="{$pe['host_tpl']}js/vendor/swiper.min.js"></script>
        <script src="{$pe['host_tpl']}js/main.js"></script>
    </body>
</html>