@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?s6bvyu');
  src:  url('../fonts/icomoon.eot?s6bvyu#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?s6bvyu') format('truetype'),
    url('../fonts/icomoon.woff?s6bvyu') format('woff'),
    url('../fonts/icomoon.svg?s6bvyu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-briefcase:before {
  content: "\e900";
}
.icon-business .path1:before {
  content: "\e901";
  color: rgb(48, 56, 71);
}
.icon-business .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(99, 108, 132);
}
.icon-business .path3:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(125, 132, 158);
}
.icon-business .path4:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(154, 159, 184);
}
.icon-business .path5:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(154, 159, 184);
}
.icon-business .path6:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(176, 181, 198);
}
.icon-cloud:before {
  content: "\e907";
}
.icon-customer-service:before {
  content: "\e908";
}
.icon-draw:before {
  content: "\e909";
}
.icon-folder:before {
  content: "\e90a";
}
.icon-gear:before {
  content: "\e90b";
}
.icon-internet:before {
  content: "\e90c";
}
.icon-layer .path1:before {
  content: "\e90d";
  color: rgb(26, 116, 146);
}
.icon-layer .path2:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(32, 142, 178);
}
.icon-layer .path3:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(38, 166, 209);
}
.icon-layers:before {
  content: "\e910";
}
.icon-network:before {
  content: "\e911";
}
.icon-social-media:before {
  content: "\e912";
}
.icon-trophy:before {
  content: "\e913";
}

