/*=============================================
             Theme text Color
=============================================*/
.xp-top-header .xp-top-location ul li a:hover,
.xp-navigation .navbar-default .navbar-nav > .active > a, .xp-navigation .navbar-default .navbar-nav > .active > a:hover, .xp-navigation .navbar-default .navbar-nav > .active > a:focus,
.xp-navigation .nav > li > a:hover,
.xp-intro-inner .xp-text-box span,
.hedding p,
.xp-recent-cause-inner .xp-donat-info ul li h3,
.xp-weleare-stories-inner .xp-text-box span strong,
.xp-meet-healpers-inner .xp-text-box span,
.xp-weleare-stories-listing ul li a:hover,
.xp-weleare-stories-inner .xp-text-box h3 a:hover,
.xp-process .xp-process-inner h3 a:hover,
.xp-recent-cause-inner .xp-text-box h4 a:hover,
.xp-become-volunteer-inner .xp-text-box .xp-text-box-inner h3 a span,
.xp-become-volunteer-inner  .xp-text-box .xp-join-noew a,
.xp-welfair-inner .xp-text-box span,
.xp-welfair-inner .xp-view-calendar a,
.xp-welfair-inner .xp-text-box h3 a:hover,
.xp-charity-news-inner .xp-text-box h4 a:hover,
.footer-inner .footer-help-comanis ul li a:hover,
.footer-latest-inner .xp-text-box span,
.footer-latest-inner .xp-text-box h4 a:hover,
.xp-copyright p span,
.xp-charity-services-inner .xp-charity-colum .xp-text-box h4 a:hover,
.xp-charity-fundraising-inner a,
.xp-welfare-inner .xp-text-box .xp-help-homeless,
.xp-welfare-inner .xp-text-box h3 a:hover,
.xp-welfare-inner .xp-text-hover h3,
.xp-welfare-inner .xp-text-hover ul li a:hover,
.xp-urgent-causes .xp-urgent-inner ul li strong,
.xp-urgent-causes .xp-urgent-inner a,
.xp-counter-inner .xp-text-box p,
.xp-xp-shop-product-inner .xp-text-box ul li a,
.btn:hover,
.btn2,
.xp-xp-shop-product-inner .xp-text-box h4 a:hover,
.xp-inner-banner .xp-text-box h1 span,
.xp-feature-hedding h2 span,
.xp-welfare-gride .xp-text-box span strong,
.xp-services-tow-inner .xp-text-box h3 a:hover,
.xp-home5-banner-text .xp-text-box span,
.xp-donat-charity-innr .xp-text-box h3 a:hover,
.xp-donat-charity-innr .xp-text-box span strong,
.our-causes-detail-support .xp-text-box .xp-text-box-inner ul li strong,
.xp-causes-quote p span,
.xp-recent-colum .xp-text-box span,
.xp-popular-inner .xp-text-box p,
.xp-charity-video-inner .xp-text-box p,
.xp-recent-colum .xp-text-box h4 a:hover,
.our-causes-detail-support .xp-text-box .xp-text-box-inner h3 a:hover,
.xp-donaters-help-right .xp-text-box h3 a:hover,
.xp-our-events-inner .xp-event-socail ul li a,
.xp-authore .xp-text-box .xp-event-socail ul li a,
.xp-blog-detail .xp-authore .xp-text-box h3 a:hover,
.xp-post-comments span,
.xp-post-comments-inner .xp-text-box h4 a:hover,
.xp-leave-comments span,
.xp-related-product span,
.xp-leave-comments .form-group .xp-ratting-select ul li a,
.xp-post-comments-inner .xp-text-box ul li a,
.xp-product-detail .xp-text-box-inner .count-reviews ul li a,
.xp-cart-total table tbody tr td:last-child,
.xp-payment-detail-table table tbody tr td:last-child,
.xp-team-detail-inner .xp-team-detail-text span,
.xp-team-detail-inner .xp-team-detail-text ul li a:hover,
.xp-404-error-inner .text-box h3 span,
.xp-sub-menu ul li a:hover{
    color: #68b20d;
}
/*=============================================
           Theme Background Color
=============================================*/
.btn,
.btn2:hover,
.xp-top-header .xp-top-socail ul li a:hover,
.xp-navigation .xp-donait-now a,
.xp-intro-progred .donation-meter .amount2,
.xp-donat-persntage .xp-persntage,
.xp-donat-persntage .xp-donors span,
.xp-donat-persntage:after,
.xp-recent-cause-inner:hover .xp-donat-info,
.xp-process .xp-process-inner .xp-shape:after,
.xp-process .xp-process-inner .read-more:hover,
.xp-meet-healpers-inner .xp-image-holder:hover .xp-text-box,
.xp-charity-news-inner .xp-date,
.footer-inner h3 span:after,
.footer-inner h3:after,
.footer-inner h3:before,
.footer-inner .footer-help-comanis ul li a:hover:after,
.footer-inner .footer-pain ul li a:hover,
.xp-charity-services-inner .xp-charity-colum .xp-image-holder a:hover,
.xp-charity-fundraising-inner span,
.xp-welfare-inner .xp-text-box .xp-help-homeless:after,
.xp-urgent-causes .xp-urgent-inner span,
.xp-xp-shop-product-inner .xp-text-box .xp-price,
.xp-clint-innr .owl-theme .owl-controls .owl-buttons div:hover,
.xp-become-volunteer-inner  .xp-text-box .xp-join-noew a:hover,
.xp-welfair-inner .xp-view-calendar a:hover,
.xp-charity-fundraising-inner a:hover,
.xp-urgent-causes .xp-urgent-inner a:hover,
.xp-cart-item .xp-image-holder a,
.xp-feature-left .xp-feature-colum .xp-image-holder:hover .xp-text-box-inner .btn,
.xp-donaters-help,
.xp-version-four-banner .xp-serch-point input[type="submit"],
.xp-version-four-banner .xp-serch-point .xp-browse a:hover,
.xp-version-four-banner .xp-serch-point .xp-search-causes a:hover,
.xp-services-tow-inner .xp-image-holder a:hover,
.xp-home5-banner-text .owl-theme .owl-controls .owl-page span:hover,
.xp-home5-banner-text .owl-theme .owl-controls .owl-page.active span,
.xp-all-inner-banner .xp-text-box-innr .breadcrumb,
.xp-pagination ul li a:hover,
.xp-causes-quote p:after,
.xp-causes-tags ul li a:hover,
.xp-widget h2:after,
.xp-widget h2:before,
.xp-widget h2 span::after,
.xp-recent-colum .xp-recent-date,
.xp-categories-inner ul li:hover span,
.xp-our-events-inner .xp-event-socail ul li a:hover,
.xp-blog-detail .our-causes-detail-support .xp-date,
.xp-authore .xp-text-box .xp-event-socail ul li a:hover,
.xp-post-comments-inner .xp-image-holder a,
.xp-tags-cloud-inner ul li a:hover,
.xp-product-detail .xp-text-box-inner .xp-price,
.xp-team-detail-inner .xp-team-detail-text ul li i,
.xp-gallery-style-1 .button-group .button.is-checked,
.xp-contact-info-inner .xp-image-holder,
.xp-event-calender table tbody tr td:hover,
.xp-home1-banner .owl-theme .owl-controls .owl-buttons div{
    background-color: #68b20d;
}
/*=============================================
            Theme border Color
=============================================*/
.btn,
.btn2,
.xp-process .xp-process-inner .xp-shape,
.xp-process .xp-process-inner .read-more:hover,
.xp-meet-healpers-inner .xp-text-box,
.xp-become-volunteer-inner  .xp-text-box .xp-join-noew a,
.xp-welfair-inner .xp-view-calendar a,
.footer-inner .footer-help-comanis ul li:hover .xp-shapes,
.xp-charity-fundraising-inner a,
.xp-urgent-causes .xp-urgent-inner a,
.xp-feature-left .xp-feature-colum .xp-image-holder:hover .xp-text-box-inner .btn,
.xp-our-events-inner .xp-event-socail ul li a,
.xp-our-events-inner .xp-event-socail ul li a:hover,
.xp-authore .xp-text-box .xp-event-socail ul li a,
.xp-authore .xp-text-box .xp-event-socail ul li a:hover,
.xp-product-detail .gallery-thumbs .swiper-slide-active,
.xp-testimonila-inner .swiper-slide .xp-paragrap,
.gallery-thumbs .swiper-slide-active{
    border-color: #68b20d;
}